<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>get piggy with it</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2><%= @piglatinized_input %></h2>
  </body>
</html>